/* LESS Document */
/* line 3, news.less */
body,
html {
  font-family: 'Roboto', sans-serif;
  background: url(../images/baner1.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
}
/* line 14, news.less */
.white-header {
  background: rgba(255, 255, 255, 0.7);
  padding-right: 0;
}
/* line 17, news.less */
.white-header .btn-success {
  float: right;
  margin-right: 40px;
  background: #1995b3;
  border: none;
  border-radius: 0;
  padding: 20px;
}
/* line 25, news.less */
.white-header .btn-success:focus {
  outline: none;
}
/* line 28, news.less */
.white-header .border {
  height: 12px;
  background: #ffc231;
  margin: 0px;
  padding: 0px;
}
/* line 36, news.less */
.left-cont {
  background: #1995b3;
}
/* line 39, news.less */
.left-cont h3 {
  font-weight: 100;
  letter-spacing: 1rem;
  color: #fff;
  margin-top: 70px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  /* line 45, news.less */
  .left-cont h3 {
    font-size: 5rem;
  }
}
/* line 49, news.less */
.left-cont p {
  color: #fff;
  font-size: 3rem;
  letter-spacing: .1rem;
  padding-bottom: 50px;
}
@media (min-width: 1200px) {
  /* line 54, news.less */
  .left-cont p {
    font-size: 1.8rem;
  }
}
/* line 61, news.less */
.right-cont-header {
  background: rgba(255, 255, 255, 0.7);
  padding-right: 0;
}
/* line 65, news.less */
.right-cont-header .name {
  margin-top: 90px;
  font-size: 6rem;
  font-weight: 300;
  color: #1995b3;
  padding-bottom: 29px;
  padding-left: 35px;
  margin-bottom: 40px;
}
/* line 79, news.less */
.right-cont {
  background: rgba(255, 255, 255, 0.9);
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 83, news.less */
.right-cont .my-news-tittle {
  background: #dbdbdb;
  font-size: 1.8rem;
  color: #1995b3;
  padding: 20px;
}
/* line 88, news.less */
.right-cont .my-news-tittle span {
  float: right;
}
/* line 92, news.less */
.right-cont .my-content {
  padding: 20px;
  font-size: 1.8rem;
  font-weight: 300;
  background: #eff1f3;
  margin-bottom: 40px;
}
/* line 99, news.less */
.right-cont .my-content .my-bold {
  font-weight: 400;
  color: #1995b3;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 103, news.less */
  .right-cont .my-content {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  /* line 106, news.less */
  .right-cont .my-content {
    font-size: 1.2rem;
  }
}
/* line 111, news.less */
.my-footer {
  color: white;
  font-size: 1.2rem;
  background: #2D2D2D;
  padding: 20px;
  clear: booth;
}
/*# sourceMappingURL=news.css.map */