/* Scss Document */
body {
  font-family: 'Open Sans', sans-serif; }
  body .mailto {
    background: url(img/icons/email.png) no-repeat right top;
    padding-right: 18px; }
  body .pdf {
    background: url(img/icons/pdf.png) no-repeat right top;
    padding-right: 18px;
    padding-top: 3px; }
  body .doc {
    background: url(img/icons/doc.gif) no-repeat right top;
    padding-right: 18px;
    padding-top: 3px; }
  body #menu {
    background-color: #f7f7f7;
    min-height: 10px; }
    body #menu #pasek_nawi {
      background-color: #f7f7f7;
      border: none; }
    body #menu .navbar {
      background: #1995b3;
      color: blue;
      border: #1995b3; }
    body #menu .navbar-inverse .navbar-nav > li {
      margin-left: 2rem;
      margin-top: 10px; }
    body #menu .navbar-inverse .navbar-nav > li > a {
      color: gray;
      line-height: 1rem;
      border: 1px solid transparent; }
    body #menu .navbar-inverse .navbar-nav > li > a:hover {
      display: block;
      color: #fff;
      background: #387c89;
      transition: all 0.7s ease; }
    body #menu .navbar-inverse .navbar-nav > .active > a {
      display: block;
      color: #fff;
      background: #387c89; }
    body #menu .navbar-inverse .navbar-nav > .active > a:hover {
      display: block;
      color: #fff;
      background: #e28c12; }

.brand {
  margin-top: 95px; }
  .brand .btn-default {
    border: 0px;
    margin-top: 10px; }
  .brand .language {
    margin-top: 15px; }
    .brand .language .btn-defoult-en {
      margin-top: -10px; }
    .brand .language span {
      float: left;
      margin-left: 180px; }
    .brand .language .en {
      padding-right: 10px;
      display: block;
      width: 24px;
      height: 21px;
      background-image: url(../img/en.png);
      color: transparent;
      float: right; }
    .brand .language .pl {
      padding-right: 10px;
      width: 26px;
      height: 20px;
      background-image: url(../img/pl.png);
      color: transparent;
      float: right; }
  .brand .logo {
    border-right: 1px solid #bbbbbb; }
  .brand .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-top: 10px; }
    .brand .info span {
      font-size: 2rem;
      color: #387c89;
      font-weight: 100; }
  .brand .face {
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(../img/facebook.png);
    width: 31px;
    height: 31px;
    float: left; }
  .brand .tweet {
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    background-image: url(../img/tweet.png);
    width: 28px;
    height: 23px; }
  .brand .menu-top-button {
    float: left;
    color: #387c89;
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid #387c89;
    padding: 7px 10px 7px 12px; }
  .brand .dropdown-menu {
    background: #387c89;
    border-radius: 0;
    margin-top: 58px;
    margin-left: -18px;
    font-size: 1.8rem; }
    .brand .dropdown-menu ul li {
      display: inline;
      float: left; }
      .brand .dropdown-menu ul li a {
        color: #fff; }

#glowna {
  margin-top: 20px; }
  #glowna .carousel-control {
    width: 10%;
    opacity: 1; }
  #glowna .carousel-inner img {
    margin: auto; }
  #glowna .carousel-control {
    opacity: 1; }
  #glowna .carousel-control.left {
    background: #387c89; }
  #glowna .carousel-control.right {
    background: #387c89; }
  #glowna .carousel-control .glyphicon-chevron-left, #glowna .carousel-control .icon-prev {
    margin-left: -50px; }
  #glowna .carousel-control .glyphicon-chevron-right, #glowna .carousel-control .icon-prev {
    margin-right: -50px; }
  #glowna .carousel-caption h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px; }

@media (max-width: 767px) {
  #glowna .carousel-control .glyphicon-chevron-left, #glowna .carousel-control .icon-prev {
    margin-left: auto; }
  #glowna .carousel-control .glyphicon-chevron-right, #glowna .carousel-control .icon-prev {
    margin-right: auto; }
  #glowna .carousel-caption h3 {
    display: none; } }
#about h1 {
  min-height: 160px;
  margin-top: 80px;
  font-weight: 100; }
  #about h1 span {
    color: #387c89; }
#about .patern {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, #eeeeee 0.5px, white 6px); }
  #about .patern h2 {
    color: #387c89;
    padding-bottom: 30px; }
  #about .patern .circle {
    margin-top: -90px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #387c89; }
    #about .patern .circle .fa {
      color: white;
      margin-top: 65px; }

@media (max-width: 767px) {
  #about {
    display: none; } }
#aktualnosci h2 {
  color: #387c89;
  padding-top: 50px;
  padding-bottom: 20px; }
#aktualnosci #aktualnosci-slide .carousel-control {
  width: 10%;
  opacity: 1; }
#aktualnosci #aktualnosci-slide .carousel-inner img {
  margin: auto; }
#aktualnosci #aktualnosci-slide .carousel-control {
  opacity: 1;
  background-image: none; }
#aktualnosci #aktualnosci-slide .carousel-control .glyphicon-chevron-left, #aktualnosci #aktualnosci-slide .carousel-control .icon-prev {
  margin-left: -40px;
  margin-top: -70px; }
#aktualnosci #aktualnosci-slide .carousel-control .glyphicon-chevron-right, #aktualnosci #aktualnosci-slide .carousel-control .icon-prev {
  margin-right: -40px;
  margin-top: -70px; }
#aktualnosci #aktualnosci-slide .carousel-caption h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2.6rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px; }
#aktualnosci #aktualnosci-slide .item .aktualnosc-bg {
  background-color: #f7f7f7; }
  #aktualnosci #aktualnosci-slide .item .aktualnosc-bg .date {
    float: right;
    margin-right: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: white; }
#aktualnosci #aktualnosci-slide .item .text {
  background-color: #f7f7f7; }
  #aktualnosci #aktualnosci-slide .item .text h2 {
    color: #387c89;
    font-size: 2rem;
    font-weight: 100;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px; }
  #aktualnosci #aktualnosci-slide .item .text p {
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 60px;
    line-height: 2.2rem; }
#aktualnosci #aktualnosci-slide .item .logo-partners {
  padding-top: 40px; }
  #aktualnosci #aktualnosci-slide .item .logo-partners li {
    display: inline-block; }

@media (max-width: 767px) {
  #aktualnosci h2 {
    color: #387c89;
    padding-top: 50px;
    padding-bottom: 20px; }
  #aktualnosci #aktualnosci-slide .carousel-control {
    width: 10%;
    opacity: 1; }
  #aktualnosci #aktualnosci-slide .carousel-inner img {
    margin: auto; }
  #aktualnosci #aktualnosci-slide .carousel-control {
    opacity: 1;
    background-image: none; }
  #aktualnosci #aktualnosci-slide .carousel-control .glyphicon-chevron-left, #aktualnosci #aktualnosci-slide .carousel-control .icon-prev {
    margin: auto; }
  #aktualnosci #aktualnosci-slide .carousel-control .glyphicon-chevron-right, #aktualnosci #aktualnosci-slide .carousel-control .icon-prev {
    margin: auto; }
  #aktualnosci #aktualnosci-slide .carousel-caption h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px; }
  #aktualnosci #aktualnosci-slide .item .aktualnosc-bg {
    background-color: #f7f7f7; }
    #aktualnosci #aktualnosci-slide .item .aktualnosc-bg .date {
      float: right;
      margin-right: 40px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      background-color: white; }
  #aktualnosci #aktualnosci-slide .item .text {
    background-color: #f7f7f7; }
    #aktualnosci #aktualnosci-slide .item .text h2 {
      color: #387c89;
      font-size: 2rem;
      font-weight: 100;
      padding: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px; }
    #aktualnosci #aktualnosci-slide .item .text p {
      padding-left: 20px;
      padding-right: 40px;
      padding-bottom: 20px; }
  #aktualnosci #aktualnosci-slide .item .logo-partners {
    padding-top: 40px; }
    #aktualnosci #aktualnosci-slide .item .logo-partners li {
      display: inline-block; } }
#konferencje {
  padding-top: 40px; }
  #konferencje #konferencje_content {
    margin-top: 50px;
    background: #f7f7f7; }
    #konferencje #konferencje_content .box {
      float: left;
      background: #387c89;
      padding-top: 30px;
      padding: 20px;
      width: 100px; }
    #konferencje #konferencje_content .fa {
      color: #fff; }
    #konferencje #konferencje_content h2 {
      float: left;
      color: #387c89;
      margin-top: 40px;
      margin-left: 30px;
      font-weight: bold;
      font-size: 2.5rem; }
    #konferencje #konferencje_content p {
      clear: both;
      padding-top: 20px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      text-align: justify;
      line-height: 2.2rem; }

#wydawnictwo {
  padding-top: 50px; }
  #wydawnictwo #wydawnictwo_content {
    background-color: #f7f7f7;
    min-height: 400px; }
    #wydawnictwo #wydawnictwo_content h2 {
      float: left;
      color: #387c89;
      margin-top: 40px;
      margin-left: 30px;
      font-weight: bold;
      font-size: 2.5rem; }
    #wydawnictwo #wydawnictwo_content .box {
      float: left;
      background: #387c89;
      padding-top: 30px;
      padding: 20px;
      width: 100px; }
      #wydawnictwo #wydawnictwo_content .box .fa {
        color: white;
        margin-left: 7px; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .item {
      padding-right: 20px; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide h3 {
      color: #387c89;
      padding-left: 70px;
      padding-right: 50px;
      padding-bottom: 20px;
      font-size: 1.8rem;
      line-height: inherit;
      font-weight: 100; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .okl {
      float: right;
      padding: 20px;
      background-color: #f7f7f7; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide p {
      padding-left: 70px;
      line-height: 2rem;
      text-align: justify; }
      #wydawnictwo #wydawnictwo_content #wydawnictwo-slide p span {
        font-weight: bold; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .price {
      padding-bottom: 20px; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .carousel-inner img {
      margin: auto; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .carousel-control {
      opacity: 1;
      background-image: none; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .carousel-control .glyphicon-chevron-left, #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .carousel-control .icon-prev {
      margin-left: -50px;
      margin-top: -60px; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .carousel-control .glyphicon-chevron-right, #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .carousel-control .icon-prev {
      margin-right: -50px;
      margin-top: -70px; }
    #wydawnictwo #wydawnictwo_content #wydawnictwo-slide .carousel-caption h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      font-size: 2.6rem;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 15px; }

#wspolpraca {
  background-color: #f7f7f7;
  border-left: 20px solid white;
  min-height: 400px; }
  #wspolpraca h2 {
    color: #387c89;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 2.5rem; }
  #wspolpraca h3 {
    color: #387c89;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: inherit; }
  #wspolpraca address {
    margin-left: 10px; }
    #wspolpraca address a {
      display: block;
      padding-top: 20px;
      color: #387c89;
      font-weight: 300; }
    #wspolpraca address span {
      display: block;
      padding-top: 20px;
      color: #387c89;
      font-weight: 300; }

#programy {
  padding-top: 70px; }
  #programy #programy_content {
    background: #f7f7f7; }
    #programy #programy_content .box {
      float: left;
      background: #387c89;
      padding-top: 30px;
      padding: 20px;
      width: 100px; }
    #programy #programy_content .logo_iss {
      margin-left: 20px;
      margin-top: 30px; }
    #programy #programy_content .fa {
      color: #fff; }
    #programy #programy_content h2 {
      float: left;
      color: #387c89;
      margin-top: 40px;
      margin-left: 30px;
      font-weight: bold;
      font-size: 2.5rem; }
    #programy #programy_content p {
      clear: both;
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 20px;
      padding-bottom: 20px;
      text-align: justify; }
    #programy #programy_content ul {
      margin-bottom: 30px; }
      #programy #programy_content ul a {
        display: block;
        text-decoration: none;
        cursor: pointer; }
        #programy #programy_content ul a li {
          color: #fff;
          background: #387c89;
          padding: 5px;
          margin-bottom: 5px;
          display: inline-block; }
      #programy #programy_content ul a:hover, #programy #programy_content ul a:visited {
        display: block;
        text-decoration: none;
        cursor: pointer; }
        #programy #programy_content ul a:hover li, #programy #programy_content ul a:visited li {
          color: #fff;
          background: gray;
          padding: 5px;
          margin-bottom: 5px;
          display: inline-block; }

#slady {
  background-color: #f7f7f7;
  border-left: 20px solid white;
  padding-bottom: 30px; }
  #slady h2 {
    color: #387c89;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 2.5rem; }
  #slady ul {
    margin-left: -30px;
    margin-bottom: 30px; }
    #slady ul a {
      display: block;
      text-decoration: none;
      cursor: pointer; }
      #slady ul a li {
        color: #fff;
        background: #387c89;
        padding: 5px;
        margin-bottom: 5px;
        display: block;
        float: left; }
    #slady ul a:hover, #slady ul a:visited {
      display: block;
      text-decoration: none;
      cursor: pointer; }
      #slady ul a:hover li, #slady ul a:visited li {
        color: #fff;
        background: gray;
        padding: 5px;
        margin-bottom: 5px;
        display: block; }

#o_instytucie_content {
  padding-top: 50px; }
  #o_instytucie_content #o_instytucie {
    background: #f7f7f7;
    min-height: 570px; }
    #o_instytucie_content #o_instytucie .box {
      background: #387c89;
      padding-top: 30px;
      padding: 20px;
      width: 100px; }
    #o_instytucie_content #o_instytucie .logo_iss {
      margin-left: 20px;
      margin-top: 30px; }
    #o_instytucie_content #o_instytucie .fa {
      color: #fff; }
    #o_instytucie_content #o_instytucie h2 {
      color: #387c89;
      margin-top: 20px;
      margin-left: 20px;
      font-weight: bold;
      font-size: 2.5rem; }
    #o_instytucie_content #o_instytucie p {
      clear: both;
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 20px;
      padding-bottom: 20px;
      text-align: justify; }
    #o_instytucie_content #o_instytucie ul {
      margin-bottom: 30px;
      margin-left: -20px; }
      #o_instytucie_content #o_instytucie ul a {
        display: block;
        text-decoration: none;
        cursor: pointer; }
        #o_instytucie_content #o_instytucie ul a li {
          color: #fff;
          background: #387c89;
          padding: 5px;
          margin-bottom: 5px;
          display: inline-block; }
      #o_instytucie_content #o_instytucie ul a:hover, #o_instytucie_content #o_instytucie ul a:visited {
        display: block;
        text-decoration: none;
        cursor: pointer; }
        #o_instytucie_content #o_instytucie ul a:hover li, #o_instytucie_content #o_instytucie ul a:visited li {
          color: #fff;
          background: gray;
          padding: 5px;
          margin-bottom: 5px;
          display: inline-block; }

#historia {
  background-color: #f7f7f7;
  border-left: 20px solid white;
  min-height: 520px; }
  #historia h2 {
    color: #387c89;
    margin-top: 40px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 2.5rem; }
  #historia p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    padding-bottom: 20px; }

#contact {
  margin-top: 20px;
  background: #3A3A3A; }
  #contact address {
    color: #fff;
    padding: 20px;
    padding-top: 40px; }
  #contact #map {
    min-height: 300px; }
  #contact footer {
    background: #387c89;
    color: #fff;
    padding: 10px;
    padding-top: 20px; }

.white-header {
  background: rgba(255, 255, 255, 0.7);
  padding-right: 0; }
  .white-header .btn-success {
    float: right;
    margin-right: 40px;
    background: #387C89;
    border: none;
    border-radius: 0;
    padding: 20px; }
  .white-header .btn-success:focus {
    outline: none; }
  .white-header .border {
    height: 12px;
    background: #ffc231;
    margin: 0px;
    padding: 0px; }

.left-cont {
  background: #fff;
  border-right: 1px solid #494952;
  padding-top: 25px; }
  .left-cont h3 {
    font-weight: 100;
    letter-spacing: 1rem;
    color: gray;
    margin-top: 70px;
    margin-bottom: 0; }
    @media (min-width: 1200px) {
      .left-cont h3 {
        font-size: 5rem; } }
  .left-cont p {
    color: #494952;
    font-size: 3rem;
    letter-spacing: .1rem;
    padding-bottom: 50px; }
    @media (min-width: 1200px) {
      .left-cont p {
        font-size: 1.8rem; } }

.right-cont-header {
  background: #f7f7f7;
  padding-right: 0; }
  .right-cont-header .name {
    margin-top: 90px;
    font-size: 4rem;
    font-weight: 300;
    color: #494952;
    padding-left: 35px; }
  .right-cont-header h2 {
    font-size: 1.4rem;
    margin-left: 35px;
    padding-bottom: 45px; }

.right-cont {
  background: rgba(255, 255, 255, 0.9);
  padding-top: 40px;
  padding-bottom: 40px; }
  .right-cont .my-news-tittle {
    background: #494952;
    font-size: 1.8rem;
    color: #fff;
    padding: 20px; }
    .right-cont .my-news-tittle span {
      float: right; }
  .right-cont .my-content {
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 300;
    background: #eff1f3;
    margin-bottom: 40px; }
    .right-cont .my-content li {
      list-style-type: none;
      margin-left: 60px; }
    .right-cont .my-content .my-bold {
      font-weight: 400;
      color: #1995b3; }
    @media (min-width: 768px) and (max-width: 991px) {
      .right-cont .my-content {
        font-size: 1.2rem; } }
    @media (max-width: 767px) {
      .right-cont .my-content {
        font-size: 1.2rem; } }

.program p {
  margin-top: 20px;
  margin-left: 20px;
  line-height: 2.2rem; }

.my-footer {
  color: white;
  font-size: 1.2rem;
  background: #387C89;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  clear: booth; }
