/* LESS Document */

body, html{
		  font-family: 'Open Sans', sans-serif; }
			background-color:gray;
		 
}

.white-header{
		background:rgba(255, 255, 255, .7);
		padding-right:0;
		.btn-success{
				float:right;
				margin-right:40px;
				background:#1995b3;
				border:none;
				border-radius:0;
				padding:20px;
		}
		.btn-success:focus{
				outline:none;
		}
		.border{
			height:12px;
			background:#ffc231;
			margin:0px;
			padding:0px;
		}
		
}
.left-cont{
		background:#1995b3;
			
		h3{
			font-weight:100;
			letter-spacing: 1rem;
			color:#fff;	
			margin-top:70px;
			margin-bottom:0;
			@media(min-width:1200px){
				font-size:5rem;
			}
		}
		p{
			color:#fff;
			font-size:3rem;
			letter-spacing: .1rem;
			padding-bottom:50px;
				@media(min-width:1200px){
				font-size:1.8rem;
			}
		}


}
.right-cont-header{
			background:rgba(255, 255, 255, .7);
			padding-right:0;
			
			.name{
				margin-top:90px;
				font-size:6rem;
				font-weight:300;
				color:#1995b3;
				padding-bottom:29px;
				padding-left:35px;
				margin-bottom:40px;
				
				
			}


}
	.right-cont{
		background:rgba(255, 255, 255, .9);
		padding-top:40px;
		padding-bottom:40px;
		.my-news-tittle{
			background:#dbdbdb;
			font-size:1.8rem;
			color:#1995b3;
			padding:20px;
			span{
				float:right;
			}
		}
		.my-content{
			padding:20px;
			font-size:1.8rem;
			font-weight:300;
			background:#eff1f3;
			margin-bottom:40px;
		
			.my-bold{
				font-weight:400;
				color:#1995b3
			}
			@media(min-width:768px) and (max-width:991px){
					font-size:1.2rem;
				}
				@media(max-width:767px){
					font-size:1.2rem;
				}
		}
}
.my-footer{
	color:white;
	font-size:1.2rem;
	background:#2D2D2D;
	padding:20px;
	
	clear:booth;
}