/* Scss Document */

html{
	
}
body{
	
	.mailto {
   background:url(img/icons/email.png) no-repeat right top;
   padding-right: 18px;
}
.pdf{
   background:url(img/icons/pdf.png) no-repeat right top;
   padding-right:18px;
   padding-top:3px;
}
.doc{
	background:url(img/icons/doc.gif) no-repeat right top;
   padding-right:18px;
   padding-top:3px;
}
	
	
	
	
	font-family: 'Open Sans', sans-serif;
	#menu{
		background-color:#f7f7f7;
		min-height:10px;
		
		#pasek_nawi{
			background-color:#f7f7f7;
			border:none;
			
		}
	.navbar{
	background:#1995b3;
	color:blue;
	border: #1995b3;
	}
	.navbar-inverse .navbar-nav >li{
	margin-left:2rem;
		margin-top: 10px;

}

	
	.navbar-inverse .navbar-nav >li >a {
	
		color:gray;
	line-height:1rem;
	border:1px solid transparent;	
}

	.navbar-inverse .navbar-nav >li >a:hover {
	display:block;
	color:#fff;
	background:rgb(56,124,137);
	transition: all 0.7s ease;
	
}

	.navbar-inverse .navbar-nav > .active > a {
	display:block;
	color:#fff;
	background:rgb(56,124,137);
}

	.navbar-inverse .navbar-nav > .active > a:hover {
		display:block;
		color:#fff;
		background:#e28c12;
}
		
		
		
	}
}

.brand{
	
margin-top:95px;

.btn-default{
	border:0px;
	margin-top:10px;
}
.language{
	margin-top:15px;
	.btn-defoult-en{
		margin-top:-10px;}
		span{
			float:left;
			margin-left:180px;}
			
		.en{
			padding-right:10px;
			display:block;
			width:24px;
			height:21px;
			background-image:url(../img/en.png);
			color: transparent;
			float:right}
		.pl{
			padding-right:10px;
			width:26px;
			height:20px;
			background-image:url(../img/pl.png);
			color: transparent;
			float:right}
}

.logo{
	border-right:1px solid #bbbbbb;
	                                                                                                                                          
}
.info{
	font-family: 'Open Sans', sans-serif;
	font-size:1.2rem;
	margin-top:10px;
	span{
		font-size:2rem;
		color:#387c89;
		font-weight:100;
	}
}

.face{
	margin-top:20px;
	margin-left:20px;
	background-image:url(../img/facebook.png);
	width:31px;
	height:31px;
	float:left;
}
.tweet{
	float:left;
	margin-top:25px;
	margin-left:20px;
	background-image:url(../img/tweet.png);
	width:28px;
	height:23px;
}
.menu-top-button{
	float:left;
	color: #387c89;
	margin-top:15px;
	margin-left:15px;
	border: 1px solid #387c89;
	padding:7px 10px 7px 12px;
	
}
.dropdown-menu{
	background: #387c89;
	border-radius:0;
	margin-top:58px;
	margin-left:-18px;
	font-size: 1.8rem;
	
		ul{
			
			li{display:inline;
				float:left;
				a{
					color:#fff;
				}
				
			}
		
		}
	
}
}
#glowna{
	margin-top:20px;

	.carousel-control{
		width:10%;
		opacity: 1;
	}
	.carousel-inner img {
	  margin: auto;
	}
	.carousel-control{
		opacity: 1;
	}
	.carousel-control.left {
	  background: #387c89;
	}

	.carousel-control.right{
	  background:#387c89
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		margin-left: -50px;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
		margin-right: -50px;
	}
	.carousel-caption h3{
		font-family: 'Open Sans', sans-serif;
		font-weight:100;
		font-size:2.6rem;
		background-color:rgba(255, 255, 255, .3);
		padding:15px;
	}
}
@media(max-width:767px){
	#glowna{
		.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
			margin-left: auto;
		}
		.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
			margin-right: auto;
		}
		.carousel-caption h3{
			display:none;
		}
	}	
}
#about {
		
		h1{
			min-height:160px;
			margin-top:80px;
			font-weight:100;
			span{
					color:#387c89;
			}
		}
		.patern{
			background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(238,238,238, 1) .5px, rgba(255,255,255, 1) 6px);
			h2{
				color:#387c89;
				padding-bottom:30px;
			}
			.circle{
				margin-top:-90px;
				width: 200px; 
				height: 200px;
				border-radius: 100px;
				background:#387c89;
				.fa{
					color:white;
					margin-top:65px;	
				}
			}
		}
	
}
@media(max-width:767px){
#about {
		display: none;
		}	
	
	
}

#aktualnosci{
	
	h2{
		color:#387c89;

		padding-top:50px;
		padding-bottom:20px;
		
		
	}
	#aktualnosci-slide{
		
		.carousel-control{
		width:10%;
		opacity: 1;
		
		
		
	}
	.carousel-inner img {
	  margin: auto;
		
	}
	.carousel-control{
		opacity: 1;
		background-image:none;
	}
	.carousel-control.left {

	}

	.carousel-control.right{
		
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		margin-left: -40px;
		margin-top:-70px;
		
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
		margin-right: -40px;
		margin-top:-70px;
	}
	.carousel-caption h3{
		font-family: 'Open Sans', sans-serif;
		font-weight:100;
		font-size:2.6rem;
		background-color:rgba(255, 255, 255, .3);
		padding:15px;
	}
			
		.item{
		
			.aktualnosc-bg{
					background-color: #f7f7f7;
					.date{
						float:right;
						margin-right:40px;
						padding-top:20px;
						padding-left:20px;
						padding-right:20px;
						padding-bottom:10px;
						background-color:white;
					}
			
				}
			
			.text{
					background-color:#f7f7f7;
					h2{
						color:#387c89;
						font-size: 2rem;
						font-weight:100;
						padding:20px;
						padding-left:20px;
						padding-right:20px;
						padding-top:20px;
						}
					p{
						padding-left:20px;
						padding-right:40px;
						padding-bottom:60px;
						line-height: 2.2rem;
						}
					
				
			}
			.logo-partners{
				padding-top:40px;
				li{
					display:inline-block
					
				}
			}
		}
	}
	
}

@media(max-width:767px){
	#aktualnosci{
	
	h2{
		color:#387c89;

		padding-top:50px;
		padding-bottom:20px;
		
		
	}
	#aktualnosci-slide{
		
		.carousel-control{
		width:10%;
		opacity: 1;
		
		
		
	}
	.carousel-inner img {
	  margin: auto;
		
	}
	.carousel-control{
		opacity: 1;
		background-image:none;
	}
	.carousel-control.left {
		
	}

	.carousel-control.right{
		
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		  margin: auto;
		
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
		  margin: auto;
	}
	.carousel-caption h3{
		font-family: 'Open Sans', sans-serif;
		font-weight:100;
		font-size:2.6rem;
		background-color:rgba(255, 255, 255, .3);
		padding:15px;
	}
			
		.item{
		
			.aktualnosc-bg{
					background-color: #f7f7f7;
					.date{
						float:right;
						margin-right:40px;
						padding-top:20px;
						padding-left:20px;
						padding-right:20px;
						padding-bottom:10px;
						background-color:white;
					}
			
				}
			
			.text{
					background-color:#f7f7f7;
					h2{
						color:#387c89;
						font-size: 2rem;
						font-weight:100;
						padding:20px;
						padding-left:20px;
						padding-right:20px;
						padding-top:20px;
						}
					p{
						padding-left:20px;
						padding-right:40px;
						padding-bottom:20px;
						}
					
				
			}
			.logo-partners{
				padding-top:40px;
				li{
					display:inline-block
					
				}
			}
		}
	}
	
}
}
#konferencje{
	padding-top:40px;
#konferencje_content{
		margin-top:50px;
		background:#f7f7f7;
		.box{
			float:left;
			background:#387c89;
			padding-top:30px;
			padding:20px;
			width:100px;
		}
		.fa{
			color:#fff;
		}
		h2{
			float:left;
			color:#387c89;
			margin-top:40px;
			margin-left:30px;
			font-weight:bold;
			font-size:2.5rem;
		}
		p{
			clear:both;
			padding-top:20px;
			padding-left:50px;
			padding-right:50px;
			padding-bottom:50px;
			text-align:justify;
			line-height: 2.2rem;
		}
	}
}
#wydawnictwo{
	padding-top:50px;
	#wydawnictwo_content{
		background-color:#f7f7f7;
		min-height:400px;

		h2{
			float:left;
			color:#387c89;
			margin-top:40px;
			margin-left:30px;
			font-weight:bold;
			font-size:2.5rem;

		}
		.box{
			float:left;
			background:#387c89;
			padding-top:30px;
			padding:20px;
			width:100px;
				.fa{
				color:white;
				margin-left:7px;

			}
		}

		#wydawnictwo-slide{
				.item{
				padding-right: 20px;
				}

				h3{

					color:#387c89;
					padding-left:70px;
					padding-right:50px;
					padding-bottom:20px;
					font-size:1.8rem;
					line-height: inherit;
					font-weight:100;
					}
			  .okl{
					float:right;
					padding:20px;
					background-color:rgb(247,247,247);
					}

				p{
					padding-left:70px;
					line-height: 2rem;
					text-align:justify;
					span{
						font-weight:bold;
						
					}
				
				 }
			.price{
						padding-bottom:20px;
					}
			.carousel-inner img {
	  margin: auto;
		
	}
	.carousel-control{
		opacity: 1;
		background-image:none;
	}
	.carousel-control.left {

	}

	.carousel-control.right{
		
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		margin-left: -50px;
		margin-top:-60px;
		
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
		margin-right: -50px;
		margin-top:-70px;
	}
	.carousel-caption h3{
		font-family: 'Open Sans', sans-serif;
		font-weight:100;
		font-size:2.6rem;
		background-color:rgba(255, 255, 255, .3);
		padding:15px;
	}
			

		}
	}
}
#wspolpraca{
	background-color:#f7f7f7;
	border-left:20px solid white;
	min-height:400px;
	h2{
		color:#387c89;
		margin-top:30px;
		margin-left:10px;
		font-weight:bold;
		font-size:2.5rem;
	}
	h3{
		color:#387c89;
		margin-top:50px;
		padding-left:10px;
		padding-right:50px;
		padding-bottom:20px;
		font-size:1.6rem;
		font-weight:100;
		line-height: inherit;
	}
	address{
		margin-left:10px;
		a{
			display:block;
			padding-top:20px;
			color:#387c89;
			font-weight:300;
		}
		span{
			display:block;
			padding-top:20px;
			color:#387c89;
			font-weight:300;
		}
	}
	
}

#programy{
		padding-top:70px;
		#programy_content{
			background:#f7f7f7;
		.box{
			float:left;
			background:#387c89;
			padding-top:30px;
			padding:20px;
			width:100px;
		}
		.logo_iss{
			margin-left:20px;
			margin-top:30px;
		}
		.fa{
			color:#fff;
		}
		h2{
			float:left;
			color:#387c89;
			margin-top:40px;
			margin-left:30px;
			font-weight:bold;
			font-size:2.5rem;
		}
		p{
			clear:both;
			padding-top:20px;
			padding-left:40px;
			padding-right:20px;
			padding-bottom:20px;
			text-align:justify;
		}
		ul{
			margin-bottom:30px;
				a{
				display:block;
				text-decoration: none;
				cursor:pointer;

				li{
					color:#fff;
					background:#387c89;
					padding:5px;
					margin-bottom:5px;
					display:inline-block;


				}

			}
			a:hover, a:visited{
				display:block;
				text-decoration: none;
				cursor:pointer;

				li{
					color:#fff;
					background:gray;
					padding:5px;
					margin-bottom:5px;
					display:inline-block;

				}

			}
		}
	}
}

#slady{
	background-color:#f7f7f7;
	border-left:20px solid white;
	padding-bottom:30px;
	
	h2{
		color:#387c89;
		margin-top:30px;
		margin-left:10px;
		font-weight:bold;
		font-size:2.5rem;
	}
	ul{
		margin-left:-30px;
		margin-bottom:30px;
		a{
			display:block;
			text-decoration: none;
			cursor:pointer;
		
			li{
				color:#fff;
				background:#387c89;
				padding:5px;
				margin-bottom:5px;
				display:block;
				float:left;

			}
		
		}
		a:hover, a:visited{
			display:block;
			text-decoration: none;
			cursor:pointer;
		
			li{
				color:#fff;
				background:gray;
				padding:5px;
				margin-bottom:5px;
				display:block;

			}
			
		}
	}
}

#o_instytucie_content{
	padding-top:50px;
	#o_instytucie{
	background:#f7f7f7;
		min-height:570px;
		.box{

			background:#387c89;
			padding-top:30px;
			padding:20px;
			width:100px;
		}
		.logo_iss{
			margin-left:20px;
			margin-top:30px;
		}
		.fa{
			color:#fff;
		}
		h2{

			color:#387c89;
			margin-top:20px;
			margin-left:20px;
			font-weight:bold;
			font-size:2.5rem;
		}
		p{
			clear:both;
			padding-top:20px;
			padding-left:40px;
			padding-right:20px;
			padding-bottom:20px;
			text-align:justify;
		}
		ul{
			margin-bottom:30px;
			margin-left:-20px;
			a{
				display:block;
				text-decoration: none;
				cursor:pointer;

				li{
					color:#fff;
					background:#387c89;
					padding:5px;
					margin-bottom:5px;
					display:inline-block;


				}

			}
			a:hover, a:visited{
				display:block;
				text-decoration: none;
				cursor:pointer;

				li{
					color:#fff;
					background:gray;
					padding:5px;
					margin-bottom:5px;
					display:inline-block;

				}

			}
		}
	}

}


#historia{
	background-color:#f7f7f7;
	border-left:20px solid white;
	min-height:520px;
	h2{
		color:#387c89;
		margin-top:40px;
		margin-left:20px;
		padding-bottom:20px;
		font-weight:bold;
		font-size:2.5rem;
	}
	p{
		margin-left:20px;
		margin-right:20px;
		text-align: justify;
		padding-bottom:20px;
	}
	
}

#contact{
	margin-top:20px;
	background:#3A3A3A;
			address{
				color:#fff;
				padding:20px;
				padding-top:40px;
			}
	#map{
		min-height:300px;
	}
	footer{
		background:#387c89;
		color:#fff;
		padding:10px;
		padding-top:20px
		
	}
}


.white-header{
		background:rgba(255, 255, 255, .7);
		padding-right:0;
		.btn-success{
				float:right;
				margin-right:40px;
				background:#387C89;
				border:none;
				border-radius:0;
				padding:20px;
		}
		.btn-success:focus{
				outline:none;
		}
		.border{
			height:12px;
			background:#ffc231;
			margin:0px;
			padding:0px;
		}
		
}
.left-cont{
		background:#fff;
		border-right:1px solid #494952;
	padding-top:25px;
			
		h3{
			font-weight:100;
			letter-spacing: 1rem;
			color:gray;	
			margin-top:70px;
			margin-bottom:0;
			@media(min-width:1200px){
				font-size:5rem;
			}
		}
		p{
			color:#494952;
			font-size:3rem;
			letter-spacing: .1rem;
			padding-bottom:50px;
				@media(min-width:1200px){
				font-size:1.8rem;
			}
		}


}
.right-cont-header{
			background:#f7f7f7;
			padding-right:0;
			
			.name{
				margin-top:90px;
				font-size:4rem;
				font-weight:300;
				color:#494952;
				padding-left:35px;
			
				
				
			}
	h2{
		font-size:1.4rem;
		margin-left:35px;
		
		padding-bottom:45px;
		
	}


}
	.right-cont{
		background:rgba(255, 255, 255, .9);
		padding-top:40px;
		padding-bottom:40px;
		
		.my-news-tittle{
			background:#494952;
			font-size:1.8rem;
			color:#fff;
			padding:20px;
			span{
				float:right;
			}
		}
		.my-content{
			padding:20px;
			font-size:1.8rem;
			font-weight:300;
			background:#eff1f3;
			margin-bottom:40px;
			
				li{
					list-style-type: none;
					margin-left:60px;
				}
			
			.my-bold{
				font-weight:400;
				color:#1995b3
			}
			@media(min-width:768px) and (max-width:991px){
					font-size:1.2rem;
				}
				@media(max-width:767px){
					font-size:1.2rem;
				}
		}
}

.program p{
	margin-top:20px;
	margin-left:20px;
	line-height: 2.2rem;
}




.my-footer{
	color:white;
	font-size:1.2rem;
	background:#387C89;
	padding:20px;
	position:fixed;
	bottom:0;
	width:100%;
	clear:booth;
}
