@charset "utf-8";
/* CSS Document */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
fieldset {border: 0;}
object {display: block;}
table {border-collapse: collapse; border-spacing: 0;}
img {display:block; border: 0;}



body{background:#666B67}

.center{width:1024px;  margin:0 auto;}

#top{background:#ff6b22;}
#header {background:url(images/header.jpg); width:1024px; height:124px;}

#cont{background:#FFF;}
#content{width:1024px; height:498px; background:url(images/content.jpg)}

#foot{background:#666b67;}
#footer{background:url(images/footer.jpg) no-repeat; width:1024px; height:150px}